body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: brown;
}

h1 {
  color: red;
}

.quote {
  color: gray;
}

.quote.narrator {
  color: black;
  font-size: 32px;
}

.celebration {
  color: yellow;
  background-color: pink;
  font-size: 32px;
}

#intro p {
  color: green;
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
